<div class="container">
    <h4>Empleados Registrados</h4>
    <p>Busqueda</p>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombres y Apellidos" style="width: 40%;float: left;">
    <button type="button" class="btn btn-light" style="float:left;">Buscar</button>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID" style="width: 10%;float:left;" >
    <button type="button" class="btn btn-light" style="float:left;">Buscar</button>
    <button type="button" class="btn btn-light otro" style="float:left;">Registrar Empleado</button>
</div>
<div class="container " >
    <div class="contenedor inicio" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Nombre y Apellidos</div>
        <div class="contenido correo">Correo</div>
        <div class="contenido fecha">Fecha Ingreso</div>
        <div class="contenido rol">Rol</div>
    </div>
</div>
<div class="container cuadro" style="overflow: auto;">
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
    <div class="contenedor" >
        <div class="contenido id">ID</div>
        <div class="contenido nombre">Ricardo Chariarse Rojas</div>
        <div class="contenido correo">Ricardochariarse@gmail.com</div>
        <div class="contenido fecha">12/10/2020</div>
        <div class="contenido rol">Jefe</div>
    </div>
</div>