::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #ed691e !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #ed691e !important;
}

::ng-deep .mat-input-element {
  caret-color: #ed691e !important;
}
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #ed691e !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ed691e !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ed691e !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 40px;
  width: 100%;
  color: #ed691e !important;
  opacity: 1 !important;
}
mat-form-field {
  width: 95%;
}
::ng-deep .mat-form-field-outline-start {
  border-radius: 40px 0 0 40px !important;
  min-width: 40px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 40px 40px 0 !important;
}
* {
  box-sizing: border-box;
}
.left-container {
  padding-top: 10px;
  padding-left: 5%;
}
.logo {
  padding-top: 20px;
  padding-left: 30px;
  position: absolute;
  content: url("../../../assets/logo/logo_home.png");
}
/* .logo::before {
  padding-top: 10px;
  content: url("../../../assets/logo/logo_home.png");
} */
.left {
  background-color: #313030;
  height: 100px;
  max-height: 100px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  padding: 15.45px;
  background-color: #313030;
  height: 100px;
  max-height: 100px;
  float: left;
  width: 50%; /* The width is 60%, by default */
}
.search-section {
  padding-top: 8px;
}
.right {
  background-color: #313030;
  height: 100px;
  display: flex;
  max-height: 100px;
  float: left;
  width: 30%; /* The width is 20%, by default */
}
.bg-nav {
  background-color: #313030;
}
.profile-section {
  padding-left: 10px;
  margin-top: -12px;
}
.shopping-cart,
.user-section {
  display: flex;
  padding-top: 25px;
  margin-right: 10%;
}
.user-section {
  padding-left: 14%;
}
.shopping-cart {
  text-align: right;
}
.avatar-container {
  height: 60px;
  width: 60px;
  background-color: #ed691e;
  border-radius: 100px;
}
.login-text {
  color: #ed691e;
}
.register-text {
  color: white;
}
.avatar-logo {
  content: url("../../../assets/user.svg");
  text-align: center;
  margin: 13%;
  height: 45px;
}
.cart-logo {
  content: url("../../../assets/shopping-cart.svg");
  text-align: center;
  margin: 15%;
  height: 45px;
}
.cart-container {
  height: 65px;
  width: 65px;
  background-color: #ed691e;
  border-radius: 100px;
}
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .main {
    height: 80px;
    width: 100%;
    margin: -1px;
    margin-left: 0px;
  }
  .left-container {
    padding: 20px;
    padding-left: 25%;
  }
  .search-section {
    text-align: center;
    padding-left: 25px;
    padding-top: 0px;
    width: 90%;
  }
  .user-section {
    padding-left: 18%;
    align: center;
    text-align: center;
    align-content: center;
    vertical-align: middle;
  }
  .left,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
