<div class="bg-nav">
  <div class="left justify-content-center">
    <div class="left-container">
      <a href="" (click)="home()"><span class="logo"></span></a>
    </div>
  </div>

  <div class="main justify-content-center">
    <div class="search-section">
      <mat-form-field appearance="outline">
        <mat-label>Buscar productos</mat-label>
        <input matInput type="text" [(ngModel)]="value" />
        <button
          *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="value = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <div class="right justify-content-center">
    <div class="user-section">
      <div>
        <a style="text-decoration: none" href="">
          <div class="avatar-container">
            <span class="avatar-logo"></span>
          </div>
        </a>
      </div>
      <div class="profile-section">
        <div *ngIf="cond === true; else elseBlock">
          <div>
            <a style="text-decoration: none" href="/auth/login">
              <div style="cursor: pointer" class="login-text">
                <p>Log In</p>
              </div>
            </a>
          </div>
          <div>
            <a style="text-decoration: none" href="/auth/register">
              <div style="cursor: pointer" class="register-text">
                <p>Register</p>
              </div></a
            >
          </div>
        </div>
        <ng-template #elseBlock>
          <div>
            <a style="text-decoration: none" href="/profile">
              <div style="cursor: pointer" class="login-text">
                <p>{{ dato }}</p>
              </div>
            </a>
          </div>
          <div>
            <a style="text-decoration: none">
              <div
                style="cursor: pointer"
                class="register-text"
                (click)="logout()"
              >
                <p>Logout</p>
              </div></a
            >
          </div>
        </ng-template>
      </div>
    </div>
    <div (click)="openCart()" style="cursor:pointer;" class="shopping-cart">
      <a style="text-decoration: none">
        <div class="cart-container">
          <span class="cart-logo"></span>
        </div>
      </a>
    </div>
  </div>
</div>
