* {
  box-sizing: border-box;
}
.logo {
  padding: 20px;
  position: absolute;
  content: url("../../../assets/logo/logo_home.png");
}
/* .logo::before {
  padding-top: 10px;
  content: url("../../../assets/logo/logo_home.png");
} */
.left {
  align: center;
  background-color: #313030;
  height: 100px;
  max-height: 100px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  background-color: #313030;
  height: 100px;
  max-height: 100px;
  float: left;
  width: 60%; /* The width is 60%, by default */
}

.right {
  background-color: #313030;
  height: 100px;
  max-height: 100px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
