::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #ed691e !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: #ed691e !important;
}

::ng-deep .mat-input-element {
  caret-color: #ed691e !important;
}
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: #ed691e !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ed691e !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ed691e !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 40px;
  width: 100%;
  color: #ed691e !important;
  opacity: 1 !important;
}
mat-form-field {
  width: 95%;
}
::ng-deep .mat-form-field-outline-start {
  border-radius: 40px 0 0 40px !important;
  min-width: 40px !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 40px 40px 0 !important;
}
.container-main {
  padding: 10vh;
  padding-top: 6vh;
  padding-bottom: 5vh;
}
.img-logus {
  position: fixed;
  right: 10px;
  bottom: 10px;
  filter: contrast(100%);
  filter: drop-shadow(0px 0px 5px white);
  width: 30%;
  color: black;
  text-align: center;
}
.box1 {
  background-color: #4f4e4e;
  border-radius: 20px;
  display: flex;
}
.box2 {
  height: 550px;
  background: url("https://us.123rf.com/450wm/nejron/nejron1808/nejron180800024/105668533-bella-mujer-con-tarjeta-de-cr%C3%A9dito-para-compras-online.jpg?ver=6");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 0 0 20px;
  background-position: center center;
  padding: 20%;
  filter: contrast(75%);
  background-color: #ed691e;
}
.footer {
  margin-top: 20px;
}
.nav-text {
  display: flex;
}
mat-form-field {
}

.box3 {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  place-items: center;
}
@media screen and (max-width: 800px) {
  .box1 {
    display: block;
  }
  .box2 {
    border-radius: 20px 20px 0 0;
    height: 200px;
  }
  .img-lokus {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.example-container .mat-form-field + .mat-form-field {
  width: 400px;
}
.text {
  color: aliceblue;
}
