mat-card {
  width: calc(100% - 200px);
  height: calc(100% - 600px);
}
.button-category {
  background-color: #4f4e4e;
  height: 80px;
  max-height: 100px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}
.products {
  padding-bottom: 10px;
}
.flex-container-main {
  display: flex;
}
.product-container {
  background-color: #ed691e;
  border-radius: 20px;
}
.button-promotion,
.button-news,
.button-aboutus,
.button-faq {
  background-color: #4f4e4e;
  height: 80px;
  max-height: 100px;
  float: left;
  width: 20%; /* The width is 20%, by default */
}
.flex-container {
  max-width: 300xp;
}
.category-button {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin: 20px;
  color: white;
  height: 40px;
  border-radius: 20px;
  background-color: #ed691e;
}
.secondary-button {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background-color: #e9e9e9;
  margin: 20px;
  color: black;
  height: 40px;
  border-radius: 20px;
}
.mat-toolbar {
  width: 100%;
}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
/* @media screen and .buttons(max-width:600px); */
@media screen and (max-width: 800px) {
  .button-category,
  .button-promotion,
  .button-aboutus,
  .button-news,
  .button-faq {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    height: 80%;
  }
  .category-button,
  .secondary-button {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}
/***section***/
.example-section {
  margin-left: 20px;
}
mat-slider {
  width: 300px;
}
/**cards**/
.example-card {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/**paginator**/
.mat-form-field {
  margin-right: 12px;
}
/**grid**/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
}
/**example card**/
.example-card {
  width: 120%;
  margin-bottom: 10px;
  height: 350px;
}
/**grid**/
@media screen and (max-width: 1920px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}
@media screen and (max-width: 1420px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}
@media screen and (max-width: 1020px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}
@media screen and (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}
@media screen and (max-width: 620px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}
@media screen and (max-width: 410px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr; /* Create 2 columns and auto-place rows */
  }
}
.button {
  cursor: pointer;
  background-color: #ed691e;
  border-radius: 100px;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: auto;
  padding-right: auto;
}
