<div style="background-color: #d3d3d3">
  <nav
    style="padding-top: 20px"
    class="navbar navbar-expand-lg navbar-light bg-light"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            MARCA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            PRECIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            ENVIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Gratis</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Envio Plus</label
              >
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            ORDENAR
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Mayor a Menor</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1"
                >Menor a Mayor</label
              >
            </div>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck1"
              />
              <label class="custom-control-label" for="customCheck1">A-Z</label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--  -->
</div>
<hr width="100%" align="right" color="#ED691E" />
<div>
  <!-- header -->
  <!-- <div style="background-color: #4f4e4e">
    <div class="button-category">
      <a style="text-decoration: none" href="">
        <div class="category-button">
          <p>CATEGORIAS</p>
        </div>
      </a>
    </div>
    <div class="button-promotion">
      <a style="text-decoration: none" href="">
        <div class="secondary-button">
          <p>PROMOCIONES</p>
        </div>
      </a>
    </div>
    <div class="button-news">
      <a style="text-decoration: none" href="">
        <div class="secondary-button">
          <p>NOVEDADES</p>
        </div>
      </a>
    </div>
    <div class="button-aboutus">
      <a style="text-decoration: none" href="">
        <div class="secondary-button">
          <p>ABOUT US</p>
        </div>
      </a>
    </div>
    <div class="button-faq">
      <a style="text-decoration: none" href="">
        <div class="secondary-button">
          <p>FAQ</p>
        </div>
      </a>
    </div>
  </div> -->
  <div class="products">
    <div *ngIf="products">
      <div class="flex-container-main mt-3">
        <ng-container *ngFor="let item of products">
          <div class="product-container">
            <p>{{ item.name }}</p>
            <p>{{ item.description }}</p>
            <p>{{ item.price }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- fin Contenido -->
</div>
