<div style="background-color: #d3d3d3">
  <nav
    style="padding-top: 20px"
    class="navbar navbar-expand-lg navbar-light bg-light"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            MARCA
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <section class="example-section">
              <li>
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
              </li>
              <li>
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
              </li>
            </section>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            PRECIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <section class="example-section">
              <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1000"
                step="1000"
                min="0"
                max="10000"
                aria-label="units"
              ></mat-slider>
            </section>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            ENVIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <section class="example-section">
              <li>
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
              </li>
              <li>
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
              </li>
            </section>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            ORDENAR POR
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <section class="example-section">
              <li>
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
              </li>
              <li>
                <mat-checkbox class="example-margin">Check me!</mat-checkbox>
              </li>
            </section>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--  -->
</div>
<!-- productos -->
<div>
  <div class="products">
    <div *ngIf="products">
      <div class="grid flex-container-main mt-3">
        <ng-container
          style="grid-auto-columns: auto"
          *ngFor="let item of products"
        >
          <mat-card class="example-card">
            <img
              style="padding: 10px"
              mat-card-image
              width="10px"
              src="{{ item.urlimage }}"
              alt="{{ item.productModel }}"
            />
            <mat-card-header
              style="padding: 0%; margin: -15px; justify-content: left"
            >
              <mat-card-title>
                <div>
                  <p
                    style="
                      width: 20ch;
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                    "
                  >
                    {{ item.productModel }}
                  </p>
                </div>
              </mat-card-title>
              <mat-card-subtitle style="color: red"
                >S/. {{ item.unitprice }}</mat-card-subtitle
              >
            </mat-card-header>
            <mat-card-content>
              <div>
                <p style="color: #868686">Unidades:FALTA CALCULAR</p>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- fin productos -->
<!-- paginator -->

<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = $event"
  aria-label="Select page"
>
</mat-paginator>

<div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{ pageEvent.length }}</div>
  <div>Page size: {{ pageEvent.pageSize }}</div>
  <div>Page index: {{ pageEvent.pageIndex }}</div>
</div>
<!-- fin paginator -->
