<div style="background-color: #4f4e4e">
  <div class="button-category">
    <a style="text-decoration: none" href="">
      <div class="category-button">
        <p>CATEGORIAS</p>
      </div>
    </a>
  </div>
  <div class="button-promotion">
    <a style="text-decoration: none" href="">
      <div class="secondary-button">
        <p>PROMOCIONES</p>
      </div>
    </a>
  </div>
  <div class="button-news">
    <a style="text-decoration: none" href="">
      <div class="secondary-button">
        <p>NOVEDADES</p>
      </div>
    </a>
  </div>
  <div class="button-aboutus">
    <a style="text-decoration: none" href="">
      <div class="secondary-button">
        <p>ABOUT US</p>
      </div>
    </a>
  </div>
  <div class="button-faq">
    <a style="text-decoration: none" href="">
      <div class="secondary-button">
        <p>FAQ</p>
      </div>
    </a>
  </div>
</div>
<div>aqui va el contenido de productos></div>
