<div class="bg-nav">
  <div class="left">
    <div class="left-container">
      <a href="" (click)="home()"><span class="logo"></span></a>
    </div>
  </div>

  <div class="right">
    <div class="user-section">
      <div>
        <a style="text-decoration: none" href="">
          <div class="avatar-container">
            <span class="avatar-logo"></span>
          </div>
        </a>
      </div>
      <div class="profile-section">
        <div>
          <a style="text-decoration: none" href="/auth/login">
            <div class="login-text">
              <p>Log In</p>
            </div>
          </a>
        </div>
        <div>
          <a style="text-decoration: none">
            <div class="register-text">
              <p>Register</p>
            </div></a
          >
        </div>
      </div>
    </div>
    <div class="shopping-cart">
      <a style="text-decoration: none">
        <div class="cart-container">
          <span class="cart-logo"></span>
        </div>
      </a>
    </div>
  </div>
</div>
