.products-details-container {
  display: flex;
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
}
.box1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  text-shadow: #ed691e;
}
.product-image {
  max-width: 900px;
  height: auto;
  padding-right: 10px;
}
.products-details {
  padding: 5%;
  vertical-align: auto;
  align-items: center;
  text-align: left;
  text-shadow: #ed691e;
  justify-content: center;
}
.products-router-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #d3d3d3;
  padding: 2vh;
}
.material-icons {
  color: #ed691e;
}
@media screen and (max-width: 700px) {
  .products-details-container {
    display: inline;
  }
}
