<div class="">
    <div class="card d-flex align-items-center" style="width: 18rem; float: left;">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <button type="button" class="btn btn-light">Agregar producto</button>
          <button type="button" class="btn btn-light">Agregar lote</button>
          <button type="button" class="btn btn-light">Agregar orden</button>
        </div>
      </div>
      <div *ngIf="false" class="card agregar" style="width: 18rem; float: right; ">
        <div class="card-body">
            <form>
                <div class="form-group" style="float: left;">
                  <label for="exampleFormControlInput1">ID PRODUCTO</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlInput1">Nombre Comercial</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Comercial">
                </div>
                <div class="form-group" style="float: left;">
                    <label for="exampleFormControlInput1">ID Subcategoria</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID Subcategoria">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlTextarea1">Descripcion</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <div class="form-group" style="float: left;">
                    <label for="exampleFormControlInput1">Marca</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Marca">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlInput1">Provedor</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Provedor">
                </div>
                <div class="form-group" style="float: left;">
                    <label for="exampleFormControlInput1">Precio Unitario</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Precio Unitario">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlInput1">Unidades por lote</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Unidades por lote">
                </div>
                <div class="form-group" style="float: left;">
                    <label for="exampleFormControlInput1">Costo de Envio</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Costo de Envio">
                </div>
              </form>
        </div>
      </div>
      <div *ngIf="false" class="card agregar" style="width: 18rem; float: right; ">
        <div class="card-body">
            <form>
                <div class="form-group" style="float: left;">
                  <label for="exampleFormControlInput1">ID PRODUCTO ORDENADO</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlInput1">Cantidad de Lotes</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Comercial">
                </div>
                <div class="form-group" style="float: left;">
                    <label for="exampleFormControlInput1">Empresa</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" style="margin-bottom: 2px;">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="RUC">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlInput1">Empleado</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
                </div>
                <div class="form-group" style="float: right;">
                    <label for="exampleFormControlInput1">Producto catalogo</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
                </div>
                <div class="form-group" >
                    <label for="exampleFormControlInput1">Monto</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Monto">
                </div>
              </form>
        </div>
      </div>
      <div *ngIf="true" class="card agregar" style="width: 18rem; float: right; ">
        <div class="card-body">
            <form>
                <div class="form-group" >
                  <label for="exampleFormControlInput1">ID PRODUCTO ORDENADO</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
                </div>
                <div class="form-group" >
                    <label for="exampleFormControlInput1">Cantidad de Productos por Lotes</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="#">
                </div>
                <div class="form-group" >
                    <label for="exampleFormControlInput1">ID de Inventario</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ID">
                </div>
              </form>
        </div>
      </div>
</div>
