<div class="botones">
    <div class="row align-self-center">
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <div><mat-icon>storage</mat-icon></div>
                <div>Productos</div>
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <div><mat-icon>person</mat-icon></div>
                <div>Gestión de Personal</div>
            </button>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg btn-block ">
                <div><mat-icon>person_outline</mat-icon></div>
                <div>Gestión de Usuarios</div>
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg btn-block">
                <div><mat-icon> local_shipping</mat-icon></div>
                <div>Gestión de Envíos</div>
            </button>
        </div>
    </div>
</div>  
