<div class="modal-content">
  <div class="modal-header justify-content-center">
    <div class="cart-container">
      <span class="cart-logo"></span>
    </div>
    <div class="col-8">
      <h6 class="modal-title pull-center">{{ title }}</h6>
    </div>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      {{ message }}
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button mat-raised-button *ngIf="cancelButton" (click)="cancel()">
      {{ cancelButton.text }}
    </button>
    <button
      mat-raised-button
      *ngIf="acceptButton"
      color="accent"
      class="ml-3 text-button"
      (click)="accept()"
    >
      {{ acceptButton.text }}
    </button>
  </div>
</div>
